/* Reset */
html,body,header,section,p,div,ul,li,dl,dt,dd,footer,address,h1,h2,h3,h4 {margin:0;padding:0}
article,aside,footer,header,nav,section {display:block}

:root {
    /* colors */
    --link-color: #434343;
    --main-title-color: #FFFFFF;
    --bg-color : #FFFFFF;
    --border-color: #ccc;
    --sub-title-color: #333333;
    --about-color: #2B2B2B;
    --hr-bg-color: #EDEDED;
    --table-border-color: #A0A0A0;
    --mail-icon-color: #707070;
    
    /* sizes */
    --fix-container-height: 64px;
    --fix-top-height: calc(40px + var(--fix-container-height));
    --fix-container-padding: calc()
}

/* Base */
*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

* {
    margin : 0px;
    padding : 0px;
}

html, body {
    width:100%;
    height:100%;/*for Old*/
    height:100vh;
}

html {
    font-size : 62.5%;
}

body {
    background-color: var(--bg-color);
    color : var(--about-color);
    font-size : 1.6rem;
    z-index: -1;
}

ul {
    list-style : none;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/************************************************/
/* header */

.header_container {
    width: 100%;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../src/img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.fix_container {
    top: 40px;
    position: fixed;
    width: 100%;
    height: var(--fix-container-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 calc((100% - 960px) / 2);
    z-index: 3;
}

.fix_title {
    text-align: left;
    font: normal normal normal 3.6rem/4.3rem Myriad Pro;
    letter-spacing: 0px;
    color: var(--main-title-color);
}

.fix_title a {
    color: var(--main-title-color);
}

.acordion {
    width: 100vw;
    height: calc(100vh - var(--fix-top-height));
    position: fixed;
    top: var(--fix-top-height);
    left: 0;
    z-index: 2;
}

.global {
    height: calc(100vh - 104px);
    background: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-150%);

}

.global.open {
    transform: translateY(0);
}

.global ul {
    height: calc(100vh - var(--fix-top-height));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 1.8rem/2.2rem myriad-pro, sans-serif;
    padding: 30px;
    color: var(--link-color);
    border-bottom: 1px solid var(--border-color);
}

#menu_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 1;
}

.menu_bar {
    position: relative;
    width: 32px;
    height: 1px;
    content: "";
    background-color: var(--bg-color);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu_bar::before, .menu_bar::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 1px;
    background-color: var(--bg-color);
    left: 0px;
    transition: all 0.3s ease;
    transition: background-color 0s;
}

.menu_bar::before {
    top: -8px;
}

.menu_bar::after {
    top: 8px;
}

.menu_bar.scroll, .menu_bar.scroll::before, .menu_bar.scroll::after {
    background-color: var(--sub-title-color);
}

#menu_btn.open .menu_bar {
    background-color: transparent;
}

#menu_btn.open .menu_bar::before {
    transform: rotate(45deg) translate(6px, 5px);
}

#menu_btn.open .menu_bar::after {
    transform: rotate(-45deg) translate(6px, -5px);
}

.title_container {
    position: absolute;
    width: 280px;
    height: 120px;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--main-title-color);
    margin: 0;
    font: normal normal normal 12rem/14.4rem Myriad Pro;
    letter-spacing: 0px;
    line-height: 120px;
}

.subtitle_container {
    position: absolute;
    width: 143px;
    height: 16px;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
}

.sub_title {
    color: var(--main-title-color);
    font: normal normal normal 1.6rem/2.7rem Hiragino Kaku Gothic ProN;
    letter-spacing: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.sub_title::before, .sub_title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: var(--bg-color) 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
}

.sub_title::before {
    left: -15px;
}

.sub_title::after {
    right: -15px;
}

/************************************************/
/* content */

#main_wrapper {
    padding: 0 12.5%;
}

.section_title_container {
    width: 100%;
    height: 51px;
    margin: 80px auto 56px auto;
}

.section_title {
    position: relative;
    display: block;
    text-align: center;
    font: normal normal normal 3.6rem Poppins;
    font-weight: bold;
    letter-spacing: 0px;
    color: var(--sub-title-color);
}

.section_title::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px;
    margin: auto;
    content: "";
    width: 40px;
    height: 1px;
    background-color: var(--sub-title-color);;
}

.about {
    display: block;
    text-align: center;
    font: normal normal normal 1.6rem/1.9rem Myriad Pro, Regular;
    color: var(--about-color);
    margin-bottom: 40px;
}

/************************************************/
/* concept */

.concept_container {
    position: relative;
}

.concept_img_container {
    margin: 0 auto 182px auto;
    width: 100%;
    max-width: 960px;
    height: 400px;
}

.concept_img_container img {
    margin: auto;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
}

/************************************************/
/* works */

.works_container .flex_wrapper img {
    margin-bottom: 16px;
}

.works_title {
    font: normal normal normal 2.4rem/4rem Poppins;
    font-weight: bold;
    color: var(--sub-title-color);
    height: 40px;
}

.work_about {
    height: 84px;
    margin-bottom: 80px;
    font: normal normal normal 1.6rem/2.8rem Myriad Pro, Regular;
    color: var(--about-color);
}

.flex_l_works {
    width: calc(50%);
    max-width: 420px;
    margin-right: 60px;
    margin-bottom: 120px;
}

.flex_r_works {
    width: calc(50%);
    max-width: 420px;
    margin-top: 120px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.flex_l_works img, .flex_r_works img {
    max-width: 100%;
}

/************************************************/
/* florist */

.florist_container {
    position: relative;
}

.florist_name {
    max-width: 115px;
    height: 40px;
    font: normal normal bold 24px/40px Poppins;
    letter-spacing: 0px;
    color: var(--sub-title-color);
}

.florist_about {
    max-width: 300px;
    height: 108px;
    font: normal normal normal 16px/19px Myriad Pro;
    letter-spacing: 0px;
    color: var(--about-color);
    margin-bottom: 40px;
}

.flex3_c {
    margin: 0 30px;
}

.flex3_l, .flex3_c, .flex3_r {
    width: 33.3%;
    max-width: 300px;
}

.flex3_l img , .flex3_c img , .flex3_r img {
    max-width: 100%;
}

/************************************************/
/* Shop information */

.flex2_l_shop {
    width: calc(50%);
    max-width: 480px;
    margin-right: 24px;
    margin-bottom: 120px;
}

.flex2_r_shop {
    width: calc(45%);
    max-width: 432px;
    height: 320px;
    margin-left: 24px;
    margin-bottom: 120px;
}

.flex2_l_shop img {
    max-width: 100%;
}

.shop_table {
    width: 100%;
    margin: 20px 0 16px 40px;
    font: normal normal normal 16px/19px Myriad Pro;
    letter-spacing: 0px;
    color: var(--about-color);
    border-spacing: 16px 12px;
}

.shop_table th, .shop_table td {
    vertical-align: top;
    letter-spacing: 0px;
}

.shop_table th {
    width: 64px;
    text-align: left;
}

.shop_table td {
    border-left: 1px solid var(--table-border-color);
    padding: 0 0 1.6rem 16px;
}

/************************************************/
/* Contact us */

.contact_us_container {
    position: relative;
    width: 100%;
    height: calc(450px - 80px);
}

.contact_box {
    width: 360px;
    height: 80px;
    margin: 0 auto 100px auto;
    border : solid 1px var(--table-border-color);
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_doc {
    width: 100%;
    height: 20px;
    margin: auto;
    position: relative;
}

.contact_doc p {
    display: inline-block;
    position: absolute;
    left: 134px;
    font: normal normal normal 2rem/2.4rem Myriad Pro;
    width: 120px;
    height: 20px;
    letter-spacing: 0px;
    color: var(--about-color);
}

.mail_icon {
    position: relative;
}

.mail_icon::before, .mail_icon::after {
    content: "";
    position: absolute;
    height: 20px;
}
.mail_icon::before {
    top: 0px;
    left: 80px;
    width: 30px;
    border: 1px solid var(--mail-icon-color);
}
.mail_icon::after {
    /* borderの1px分+する */
    top: calc(-20px / 2 + 1px);
    left: 85px;
    width: 20px;
    border-right: 1px solid var(--mail-icon-color);
    border-bottom: 1px solid var(--mail-icon-color);
    transform: rotate(45deg);
}

/************************************************/
/* footer */

.copyright {
    text-align: center;
    font: normal normal normal 16px/19px Myriad Pro;
    letter-spacing: 0px;
    color: var(--about-color);
    height: 16px;
    margin: 12px auto;
}

/************************************************/
/* general */

.flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 960px;
    align-items: center;
    justify-content: center;
}

.hr_box {
    position: absolute;
    width: 100vw;
    background-color: var(--hr-bg-color);
    height: 240px;
    left: -12.5vw;
    z-index: -1 ;
    bottom: -102px;
}

.hr_box2 {
    position: absolute;
    width: 100vw;
    background-color: var(--hr-bg-color);
    height: 374px;
    left: -12.5vw;
    z-index: -1;
    top: -80px;
}

.hr_box3 {
    position: absolute;
    width: 100vw;
    height: 450px;
    background-image: url(../src/img/contact_us.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: -12.5vw;
    z-index: -1;
    top: -80px;
}

/************************************************/
/* font */

.myriad-pro {
    font-family: "myriad-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/************************************************/
/* slick */

.slick-slider {
    display: none;
}